@import '../../../@theme/styles/themes';
@import '~@nebular/theme/components/card/card.component.theme';
@import '~@nebular/theme/styles/global/typography/typography';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
    display: block;
   

  /deep/ .echart {
  	
    height: 15rem;
    width: 100%;
  }
  .dropdown {
      //min-width: 130px;
      button {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        width: 120%;
        height: 40px;
      }
    }
   .chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.75rem 0 1rem;
  }
  @include media-breakpoint-down(md) {
    .chart-header {
      padding: 1rem;
    }
    .dropdown {
      min-width: 100px;
      button {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    } 
  }
}