    <div class="row">
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="CommodityVal" [description]="CommodityVal"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="Price" [description]="Price"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="ProductName" [description]="ProductName"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="Brand" [description]="Brand"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="LifeCycle" [description]="LifeCycle"></ngx-card>
      </div>  
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="LTBTime" [description]="LTBTime"></ngx-card>
      </div>    
    </div>
    <div class="row">
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="Usage" [description]="Usage"></ngx-card>
      </div>
      
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="Mean Usage" [description]="MeanUsage"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="Tota lWeeks" [description]="TotalWeeks"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="InstallBase" [description]="InstallBase"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="Mean Gap" [description]="MeanGap"></ngx-card>
      </div>
      <div class="col-xxxl-2 col-md-4">
      <ngx-card title="SubstitutesPNS" [description]="SubstitutesPNS"></ngx-card>
      </div>
    </div>
